{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = element.title ?? "Create a new download"|t('craft-gated-downloads') %}

{% set crumbs = [
    { label: "Downloads"|t('craft-gated-downloads'), url: cpUrl('elloro-gated-downloads/downloads') }
] %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% block actionButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li>
                    <a class="formsubmit" data-redirect="{{ continueEditingUrl|hash }}">
                        {{ "Save and continue editing"|t('app') }}
                        {{ forms.optionShortcutLabel('S') }}
                    </a>
                </li>
                <li>
                    <a class="formsubmit" data-redirect="{{ cpUrl('elloro-gated-downloads/downloads/new')|hash }}">
                        {{ "Save and add another"|t('app') }}
                    </a>
                </li>
            </ul>
            {% if not isNew %}
                <hr>
                <ul>
                    <li>
                        <a class="formsubmit error" data-action="craft-gated-downloads/downloads/delete"
                           data-confirm="{{ 'Are you sure you want to delete this download?'|t('craft-gated-downloads') }}"
                           data-redirect="{{ cpUrl('elloro-gated-downloads/downloads')|hash }}">
                            {{ 'Delete'|t('app') }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="_recranet-booking/organizations/save">
    {{ redirectInput('recranet-booking/organizations') }}
    {% if element.id %}
        <input type="hidden" name="elementId" value="{{ element.id }}">
    {% endif %}

    <div id="fields">
        {{ forms.textField({
            label: "Title"|t('app'),
            id: 'title',
            name: 'title',
            value: element.title,
            errors: element.getErrors('title'),
            first: true,
            autofocus: true,
            required: true
        }) }}

        {{ forms.textField({
            label: "Organization ID"|t('app'),
            id: 'organizationId',
            name: 'organizationId',
            value: element.organizationId,
            errors: element.getErrors('organizationId'),
            first: true,
            autofocus: true,
            required: true
        }) }}

    </div>
{% endblock %}

{% if not element.slug %}
    {% js %}
        new Craft.SlugGenerator('#title', '#slug');
    {% endjs %}
{% endif %}
